<ng-container [ngSwitch]="headingLevel">
    <ng-template #projectedContent>
      <ng-content></ng-content>
    </ng-template>
  
    <ng-template [ngSwitchCase]="'h1'">
      <h1 [ngClass]="getHeadingClass()">
        <ng-container *ngTemplateOutlet="projectedContent"></ng-container>
      </h1>
    </ng-template>
  
    <ng-template [ngSwitchCase]="'h2'">
      <h2 [ngClass]="getHeadingClass()">
        <ng-container *ngTemplateOutlet="projectedContent"></ng-container>
      </h2>
    </ng-template>
  
    <ng-template [ngSwitchCase]="'h3'">
      <h3 [ngClass]="getHeadingClass()">
        <ng-container *ngTemplateOutlet="projectedContent"></ng-container>
      </h3>
    </ng-template>
  
    <ng-template [ngSwitchCase]="'h4'">
      <h4 [ngClass]="getHeadingClass()">
        <ng-container *ngTemplateOutlet="projectedContent"></ng-container>
      </h4>
    </ng-template>
  
    <ng-template [ngSwitchCase]="'h5'">
      <h5 [ngClass]="getHeadingClass()">
        <ng-container *ngTemplateOutlet="projectedContent"></ng-container>
      </h5>
    </ng-template>
  
    <ng-template [ngSwitchCase]="'h6'">
      <h6 [ngClass]="getHeadingClass()">
        <ng-container *ngTemplateOutlet="projectedContent"></ng-container>
      </h6>
    </ng-template>
  </ng-container>
  