<footer class="footer">
    <div class="footer__content">
      <div class="footer__section">
        <h4 class="footer__title">Pokemon Go!</h4>
        <p class="footer__text">Ofrecemos los mejores servicios en el sector de los pokemones. </p>
      </div>
      <div class="footer__section">
        <h4 class="footer__title">Contacto</h4>
        <p class="footer__text">Email: juange.mendez.lopez&#64;gmail.com</p>
        <p class="footer__text">Celular: 312 2288856</p>
      </div>
    </div>
  </footer>