@import "variables";
@import "mixins";
.link{
    color: $black-color;
    text-decoration: none;
    @include text-md();
    @include text-bold();

    @include transition();
    
    &:hover{
        color: $secondary-color;
    }
}