<section class="hero">
    <div class="hero__content">
        <div class="hero__text">
            <header class="hero__header">
                <app-heading headingLevel="h2">Explora tus pokemones <span
                        class="hero__title--highlight">favoritos!</span></app-heading>
                <p class="hero__subtitle">
                    ¡Bienvenido al mundo de los Pokémon! Aquí podrás descubrir, explorar y conocer a
                    todos los Pokémon de la región. ¿Estás listo para convertirte en un Maestro Pokémon?
                </p>
            </header>
            <footer>
                <app-button class="hero__button" [disabled]="false" type="secondary" [routerLink]="['/pokemons']">
                    ¡Explora ahora!
                </app-button>
            </footer>

        </div>



        <div class="hero__image">
            <img src="../../../../../assets/hero.png" alt="Hero image">
        </div>

    </div>
</section>