@import "mixins";

.hero {
  width: 100%;
  padding: 2rem 2rem;

  &__text {
    @include space-y(1rem);
  }

  &__content {
    @include container();
    @include flex-col(center, center);
    text-align: center;

    @include tablet() {
      @include flex(row, start, space-between);
      text-align: left;
    }
  }

  &__header {
    margin-bottom: 2rem;

    @include tablet() {
      margin-bottom: 0;
    }
  }

  &__title--highlight {
    color: $secondary-color;
  }

  &__subtitle {
    @include text-md();
    margin-top: 1rem;

    @include tablet() {
      margin-top: 0.5rem;
    }
  }

  &__image {

    img {
      max-width: 100%;
      max-height: 500px;

      @include tablet() {
        max-height: 700px;
      }
    }
  }
}